Unstaged changes after reset:
D	LinkedList/Interview.playground/playground.xcworkspace/contents.xcworkspacedata
D	LinkedList/Interview.playground/xcuserdata/aganinyakundi.xcuserdatad/xcschemes/xcschememanagement.plist
M	LinkedList/LinkedLists.playground/xcuserdata/aganinyakundi.xcuserdatad/xcschemes/xcschememanagement.plist
